@keyframes respiracion {
    0% { 
      transform: scale(1);
      filter: blur(0); 
    }
    50% { 
      transform: scale(1.2);
      filter: blur(0); 
    }
    100% { 
      transform: scale(1);
      filter: blur(2px); 
    }
  }
  
  @keyframes cambioColorFondo {
    0% {
      background-color: cyan;
    }
    33% {
      background-color: magenta;
    }
    66% {
      background-color: yellow;
    }
    100% {
      background-color: cyan;
    }
  }
  
  body {
    animation: cambioColorFondo 8s infinite;
  }
  
  img {
    animation: respiracion 3s infinite alternate;
  }
  